@import './mixin';

body{

    @include sp {
        .check{
            width: 312px;
            margin: 0 auto;
            max-width: 100%;

            &__ttl{
                font-size: 28px;
                font-weight: 600;
                margin-top: 24px;
                color: #957AFF;
            }

            &__ttl02{
                font-size: 22px;
                font-weight: 600;
                margin-top: 16px;
                margin-bottom: 16px;
                color: #2C2C2C;
            }

            &__img{
                margin-bottom: 16px;
            }

            &__text{
                font-size: 14px;
                color: #2C2C2C;
            }
        }

        .plan{
            margin-top: 40px;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }

            &__group{
                margin-bottom: 25px;

                &--ttl{
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #2C2C2C;
                }
            }
        }

        .user-info{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }
            &__list{
                margin-bottom: 24px;

                &--ttl{
                    font-weight: 700;
                    color: #2C2C2C;
                }

                &--group{
                    margin-bottom: 25px;
                }

                &--data{
                    color: #2C2C2C;
                }

                .flex-box-yuben {
                    display: flex;
                }
            } 

            .error {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                width: 300px;
                color: red;
            }

            &__flex{
                display: flex;
            }

            &__btn{
                display: block;
                width: 128px;
                height: 48px;
                background-color: #ffffff;
                border: solid 1px #957AFF;
                border-radius: 10px;
                margin: auto;
                line-height: 2.5;
                color: #957AFF;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer;
            }

            &__return{
                display: block;
                width: 128px;
                height: 48px;
                background-color: #957AFF;
                border: none;
                border-radius: 10px;
                margin: auto;
                line-height: 2.5;
                color: #FFF;
                font-weight: 600;
                transition: 0.5s;
                
                &:hover {
                    color: #957AFF;
                    background-color: #fff;
                    border: 1px solid #957AFF;
                    transition: 0.5s;
                    font-weight: 600;
                }
            }
        }

        .payinfo{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: solid 2px #D9D9D9;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #D9D9D9;
                color: #2C2C2C;
            }

            &__list{
                margin-bottom: 24px;

                &--ttl{
                    font-weight: 600;
                    color: #2C2C2C;
                }
                &--group{
                    margin-bottom: 16px;
                }
            }

        }

    }

    @include tb {
        .check{
            width: 70%;
            margin: 0 auto;
            max-width: 100%;

            &__ttl{
                font-size: 28px;
                font-weight: 600;
                margin-top: 24px;
                color: #957AFF;
            }

            &__ttl02{
                font-size: 22px;
                font-weight: 600;
                margin-top: 16px;
                margin-bottom: 16px;
                color: #2C2C2C;
            }

            &__img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 312px;
                margin-bottom: 16px;
            }

            &__text{
                font-size: 14px;
                color: #2C2C2C;
            }
        }

        .plan{
            margin-top: 40px;

            .flex-box {
                display: flex;
            }

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }

            &__group{
                width: 50%;
                margin-bottom: 25px;

                &--ttl{
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #2C2C2C;
                }
            }
        }

        .user-info{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }
            &__list{
                margin-bottom: 24px;

                .flex-box {
                    display: flex;
                }

                .flex-box-yuben {
                    display: flex;
                }

                &--ttl{
                    margin-bottom: 10px;
                    font-weight: 700;
                    color: #2C2C2C;
                }

                &--group{
                    width: 50%;
                    margin-bottom: 25px;
                }

                &--data{
                    width: 80%;
                    color: #2C2C2C;
                }
            }

            .error {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                width: 410px;
                color: red;
            }

            &__flex{
                display: flex;
                width: 271px;
                margin-left: auto;
                margin-right: auto;
            }

            &__btn{
                display: block;
                width: 128px;
                height: 48px;
                background-color: #ffffff;
                border: solid 1px #957AFF;
                border-radius: 10px;
                line-height: 2.5;
                color: #957AFF;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer;
                
            }

            &__return{
                display: block;
                margin-left: 15px;
                width: 128px;
                height: 48px;
                background-color: #957AFF;
                border: none;
                border-radius: 10px;
                line-height: 2.5;
                color: #FFF;
                font-weight: 600;
                transition: 0.5s;

                &:hover {
                    color: #957AFF;
                    background-color: #fff;
                    border: 1px solid #957AFF;
                    transition: 0.5s;
                    font-weight: 600;
                }
            }
        }

        .payinfo{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: solid 2px #D9D9D9;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #D9D9D9;
                color: #2C2C2C;
            }

            &__list{
                margin-bottom: 24px;

                &--ttl{
                    font-weight: 600;
                    color: #2C2C2C;
                }
                &--group{
                    margin-bottom: 16px;
                }
            }

        }

    }



    @include pc {
        .check{
            width: 70%;
            margin: 0 auto;
            max-width: 100%;

            &__ttl{
                font-size: 28px;
                font-weight: 600;
                margin-top: 24px;
                color: #957AFF;
            }

            &__ttl02{
                font-size: 22px;
                font-weight: 600;
                margin-top: 16px;
                margin-bottom: 16px;
                color: #2C2C2C;
            }

            &__img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 312px;
                margin-bottom: 16px;
            }

            &__text{
                font-size: 14px;
                color: #2C2C2C;
            }
        }

        .plan{
            margin-top: 40px;

            .flex-box {
                display: flex;
            }

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }

            &__group{
                width: 50%;
                margin-bottom: 25px;

                &--ttl{
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #2C2C2C;
                }
            }
        }

        .user-info{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #957AFF;
                color: #2C2C2C;
            }
            &__list{
                margin-bottom: 24px;

                .flex-box {
                    display: flex;
                }

                .flex-box-yuben {
                    display: flex;
                }

                &--ttl{
                    margin-bottom: 10px;
                    font-weight: 700;
                    color: #2C2C2C;
                }

                &--group{
                    width: 50%;
                    margin-bottom: 25px;
                }

                &--data{
                    color: #2C2C2C;
                }
            }

            .error {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                width: 680px;
                color: red;
            }

            &__flex{
                display: flex;
                width: 271px;
                margin-left: auto;
                margin-right: auto;
            }

            &__btn{
                display: block;
                width: 128px;
                height: 48px;
                background-color: #ffffff;
                border: solid 1px #957AFF;
                border-radius: 10px;
                line-height: 2.5;
                color: #957AFF;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer;
            }

            &__return{
                display: block;
                margin-left: 15px;
                width: 128px;
                height: 48px;
                background-color: #957AFF;
                border: none;
                border-radius: 10px;
                line-height: 2.5;
                color: #FFF;
                font-weight: 600;
                transition: 0.5s;

                &:hover {
                    color: #957AFF;
                    background-color: #fff;
                    border: 1px solid #957AFF;
                    transition: 0.5s;
                    font-weight: 600;
                }
            }
        }

        .payinfo{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: solid 2px #D9D9D9;

            &__ttl{
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 8px;
                margin-bottom: 24px;
                border-bottom: solid 2px #D9D9D9;
                color: #2C2C2C;
            }

            &__list{
                margin-bottom: 24px;

                &--ttl{
                    font-weight: 600;
                    color: #2C2C2C;
                }
                &--group{
                    margin-bottom: 16px;
                }
            }

        }

    }
}