@media only screen and (max-width: 600px) {
  body .device-entry {
    width: 312px;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-entry__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-entry__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-entry__img {
    margin-bottom: 16px;
  }
  body .device-entry__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .entry-form {
    margin-bottom: 50px;
  }
  body .entry-form__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .entry-form__dt {
    display: flex;
    font-weight: 600;
    color: #2C2C2C;
  }
  body .entry-form__dt .required-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #71CCC7;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dt .any-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #2C2C2C;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dd {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  body .entry-form__dd--input {
    width: 312px;
    height: 36px;
    border: 1px solid #C1C2CA;
    border-radius: 4px;
  }
  body .entry-form__dd #preview1 {
    margin-bottom: 8px;
  }
  body .entry-form__dd #preview2 {
    margin-bottom: 8px;
  }
  body .entry-form__list {
    padding-left: 0;
    margin-bottom: 24px;
  }
  body .entry-form__list--item {
    list-style: none;
    margin-bottom: 21px;
  }
  body .entry-form__text {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 24px;
  }
  body .entry-form__block {
    border-bottom: solid 2px #C1C2CA;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  body .entry-form__block--btn {
    width: 275px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    display: block;
    margin: auto;
    cursor: pointer;
  }
  body .entry-form__block--btn p {
    cursor: pointer;
  }
  body .entry-form__block--btn:hover {
    color: #fff;
    background-color: #957AFF;
    transition: 0.5s;
  }
  body .entry-form__submit {
    width: 164px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin: auto;
  }
  body .entry input[type=radio] {
    display: none;
  }
  body .entry label {
    position: relative;
    padding-left: 43px;
  }
  body .entry input[type=radio] + label::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    left: 0;
    top: 0;
  }
  body .entry input[type=radio] + label::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #957AFF;
    left: 6px;
    top: 6px;
    opacity: 0;
    transition: 0.3s;
  }
  body .entry input[type=radio]:checked + label::after {
    opacity: 1;
  }
  body .label-invalid {
    color: #FF2828;
  }
  body .entry-form-invalid {
    color: #FF2828;
    font-size: 14px;
  }
  body .entry-input-invalid {
    border: 1px solid #FF2828;
  }
  body .device-check {
    width: 312px;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-check__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-check__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-check__img {
    margin-bottom: 16px;
  }
  body .device-check__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .check-table__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .check-table__list {
    margin-bottom: 40px;
  }
  body .check-table__list--dt {
    font-weight: 600;
    color: #2C2C2C;
    margin-bottom: 8px;
  }
  body .check-table__list--dd {
    margin-bottom: 24px;
  }
  body .check-table__block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 272px;
    text-align: center;
    display: flex;
  }
  body .check-table__block--return {
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 16px;
  }
  body .check-table__block--next {
    width: 128px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
  }
  body .device-comp {
    width: 312px;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 13%;
  }
  body .device-comp__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-comp__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-comp__img {
    margin-bottom: 80px;
  }
  body .device-comp__text {
    font-size: 14px;
    margin-bottom: 80px;
    color: #2C2C2C;
  }
  body .device-comp__btn {
    width: 156px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
  }
  body .device-comp__btn--link {
    display: block;
    width: 156px;
    line-height: 2.6;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1099px) {
  body .device-entry {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-entry__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-entry__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-entry__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 312px;
  }
  body .device-entry__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .entry-form {
    margin-bottom: 50px;
  }
  body .entry-form__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .entry-form__dt {
    width: 400px;
    display: flex;
    font-weight: 600;
    color: #2C2C2C;
  }
  body .entry-form__dt .required-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #71CCC7;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dt .any-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #2C2C2C;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dd {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  body .entry-form__dd--input {
    width: 400px;
    height: 36px;
    border: 1px solid #C1C2CA;
    border-radius: 4px;
  }
  body .entry-form__dd #preview1 {
    margin-bottom: 8px;
  }
  body .entry-form__dd #preview2 {
    margin-bottom: 8px;
  }
  body .entry-form__list {
    display: flex;
    padding-left: 0;
    margin-bottom: 24px;
  }
  body .entry-form__list--item {
    list-style: none;
    margin-bottom: 21px;
  }
  body .entry-form__list--item:nth-child(1) {
    width: 40%;
  }
  body .entry-form__list--item:nth-child(2) {
    width: 33%;
  }
  body .entry-form__list--item:nth-child(3) {
    width: 27%;
  }
  body .entry-form__text {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 24px;
  }
  body .entry-form__block {
    border-bottom: solid 2px #C1C2CA;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  body .entry-form__block--btn {
    width: 275px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }
  body .entry-form__block--btn p {
    cursor: pointer;
  }
  body .entry-form__block--btn:hover {
    color: #fff;
    background-color: #957AFF;
    transition: 0.5s;
  }
  body .entry-form__submit {
    width: 164px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin: auto;
  }
  body .entry input[type=radio] {
    display: none;
  }
  body .entry label {
    position: relative;
    padding-left: 43px;
  }
  body .entry input[type=radio] + label::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    left: 0;
    top: 0;
  }
  body .entry input[type=radio] + label::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #957AFF;
    left: 6px;
    top: 6px;
    opacity: 0;
    transition: 0.3s;
  }
  body .entry input[type=radio]:checked + label::after {
    opacity: 1;
  }
  body .label-invalid {
    color: #FF2828;
  }
  body .entry-form-invalid {
    color: #FF2828;
    font-size: 14px;
  }
  body .entry-input-invalid {
    border: 1px solid #FF2828;
  }
  body .device-check {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-check__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-check__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-check__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 312px;
  }
  body .device-check__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .check-table__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .check-table__list {
    display: flex;
    margin-bottom: 40px;
  }
  body .check-table__list .check-left {
    width: 50%;
  }
  body .check-table__list .check-right {
    width: 50%;
  }
  body .check-table__list--dt {
    font-weight: 600;
    color: #2C2C2C;
    margin-bottom: 8px;
  }
  body .check-table__list--dd {
    margin-bottom: 24px;
  }
  body .check-table__list--dd img {
    width: 250px;
  }
  body .check-table__block {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
  }
  body .check-table__block--return {
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 16px;
  }
  body .check-table__block--next {
    width: 128px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
  }
  body .device-comp {
    width: 70%;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 16%;
  }
  body .device-comp__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-comp__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-comp__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    width: 312px;
  }
  body .device-comp__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .device-comp__btn {
    width: 156px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
  }
  body .device-comp__btn--link {
    display: block;
    width: 156px;
    line-height: 2.6;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
  }
}
@media screen and (min-width: 1100px) {
  body .device-entry {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-entry__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-entry__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-entry__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 312px;
  }
  body .device-entry__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .entry-form {
    margin-bottom: 50px;
  }
  body .entry-form__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .entry-form__dt {
    width: 500px;
    display: flex;
    font-weight: 600;
    color: #2C2C2C;
  }
  body .entry-form__dt .required-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #71CCC7;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dt .any-box {
    margin-left: auto;
    width: 33px;
    height: 26px;
    background-color: #2C2C2C;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    border-radius: 3px;
    text-align: center;
  }
  body .entry-form__dd {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  body .entry-form__dd--input {
    width: 500px;
    height: 36px;
    border: 1px solid #C1C2CA;
    border-radius: 4px;
  }
  body .entry-form__dd #preview1 {
    margin-bottom: 8px;
  }
  body .entry-form__dd #preview2 {
    margin-bottom: 8px;
  }
  body .entry-form__list {
    display: flex;
    padding-left: 0;
    margin-bottom: 24px;
  }
  body .entry-form__list--item {
    width: 33%;
    list-style: none;
    margin-bottom: 21px;
  }
  body .entry-form__text {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 24px;
  }
  body .entry-form__block {
    border-bottom: solid 2px #C1C2CA;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  body .entry-form__block--btn {
    width: 275px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }
  body .entry-form__block--btn p {
    cursor: pointer;
  }
  body .entry-form__block--btn:hover {
    color: #fff;
    background-color: #957AFF;
    transition: 0.5s;
  }
  body .entry-form__submit {
    width: 164px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin: auto;
  }
  body .entry input[type=radio] {
    display: none;
  }
  body .entry label {
    position: relative;
    padding-left: 43px;
  }
  body .entry input[type=radio] + label::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    left: 0;
    top: 0;
  }
  body .entry input[type=radio] + label::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #957AFF;
    left: 6px;
    top: 6px;
    opacity: 0;
    transition: 0.3s;
  }
  body .entry input[type=radio]:checked + label::after {
    opacity: 1;
  }
  body .label-invalid {
    color: #FF2828;
  }
  body .entry-form-invalid {
    color: #FF2828;
    font-size: 14px;
  }
  body .entry-input-invalid {
    border: 1px solid #FF2828;
  }
  body .device-check {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body .device-check__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-check__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-check__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 312px;
  }
  body .device-check__text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #2C2C2C;
  }
  body .check-table__ttl {
    font-weight: 600;
    font-size: 18px;
    border-bottom: solid 2px #957AFF;
    padding-bottom: 8px;
    margin-bottom: 24px;
    color: #2C2C2C;
  }
  body .check-table__list {
    display: flex;
    margin-bottom: 40px;
  }
  body .check-table__list .check-left {
    width: 50%;
  }
  body .check-table__list .check-right {
    width: 50%;
  }
  body .check-table__list--dt {
    font-weight: 600;
    color: #2C2C2C;
    margin-bottom: 8px;
  }
  body .check-table__list--dd {
    margin-bottom: 24px;
  }
  body .check-table__list--dd img {
    width: 300px;
  }
  body .check-table__block {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
  }
  body .check-table__block--return {
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #957AFF;
    color: #957AFF;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 16px;
  }
  body .check-table__block--next {
    width: 128px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
  }
  body .device-comp {
    width: 70%;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 13%;
  }
  body .device-comp__ttl {
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    color: #957AFF;
  }
  body .device-comp__ttl02 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2C2C2C;
  }
  body .device-comp__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 312px;
  }
  body .device-comp__text {
    font-size: 14px;
    margin-bottom: 100px;
    color: #2C2C2C;
  }
  body .device-comp__btn {
    width: 156px;
    height: 48px;
    background: #957AFF;
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
  }
  body .device-comp__btn--link {
    display: block;
    width: 156px;
    line-height: 2.6;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
  }
}/*# sourceMappingURL=device.css.map */